<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="~{fragments/fragments.html :: head}">
  <title>Musa - Blog</title>
</head>

<body class="blog-page">

<header th:insert="~{fragments/fragments.html :: navmenu}">
  <a th:href="@{/blog/newpost}" th:if="${user}">Novo Post</a>
</header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="../index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Posts Section -->
          <section id="blog-posts" class="blog-posts section">
            <div class="container">
              <div class="row gy-4">
                <div class="col-12" th:each="post : ${posts}">
                  <article>
                    <h2 class="title">
                      <a th:href="@{/blog/post/{id}(id = ${post.id})}" th:text="${post.title}"></a>
                    </h2>
                    <div class="meta-top">
                      <ul>
                        <li class="d-flex align-items-center" th:text="${post.author}"><i class="bi bi-person"></i></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time th:text="${#temporals.format(post.date, 'dd MMM yyyy')}" datetime="YYYY-MM-DD"></time>
                        </li>
                      </ul>
                    </div>
                    <div class="content">
                      <div class="read-more">
                        <a th:href="@{/blog/post/{id}(id=${post.id})}">Ler Mais</a>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </section>

          <!-- Blog Pagination Section -->
          <!-- Paginação -->
          <section id="blog-pagination" class="blog-pagination section">
            <div class="container">
              <div class="d-flex justify-content-center">
                <ul>
                  <li th:if="${currentPage > 0}">
                    <a th:href="@{/blog(page=${currentPage - 1})}">
                      <i class="bi bi-chevron-left"></i>
                    </a>
                  </li>
                  <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:classappend="${i == currentPage} ? 'active'" th:href="@{/blog(page=${i})}" th:text="${i + 1}"></a>
                  </li>
                  <li th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/blog(page=${currentPage + 1})}">
                      <i class="bi bi-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Search Widget -->
            <div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form action="">
                <input type="text">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>

            </div><!--/Search Widget -->


            <!-- Recent Posts Widget -->
            <div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Postagens Recentes</h3>

              <div class="post-item" th:each="recentPost : ${recentPosts}">
                <div>
                  <h4><a th:href="@{/blog/post/{id}(id = ${recentPost.id})}" th:text="${recentPost.title}"></a></h4>
                  <time th:text="${#temporals.format(recentPost.date, 'dd MMM yyyy')}"></time>
                </div>
              </div><!-- End recent post item-->

            </div><!--/Recent Posts Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

<div th:replace="~{fragments/fragments.html :: foot}"></div>

</body>

</html>