<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:object="${post}" th:insert="~{fragments/fragments.html :: head}">
  <title th:text="*{title}"></title>
</head>

<body class="blog-details-page">

<header th:insert="~{fragments/fragments.html :: navmenu}"></header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="../index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article" th:object="${post}">

                <h2 class="title" th:text="*{title}"></h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center" th:text="*{author}"><i class="bi bi-person"></i></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time th:text="${#temporals.format(post.date, 'dd MMM yyyy')}" datetime="YYYY-MM-DD"></time></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content" th:utext="*{content}">

                </div><!-- End post content -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Search Widget -->
            <div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form action="">
                <input type="text">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>

            </div><!--/Search Widget -->


            <!-- Recent Posts Widget -->
            <div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Postagens Recentes</h3>

              <div class="post-item" th:each="recentPost : ${recentPosts}">
                <div>
                  <h4><a th:href="@{/blog/post/{id}(id = ${recentPost.id})}" th:text="${recentPost.title}"></a></h4>
                  <time th:text="${#temporals.format(recentPost.date, 'dd MMM yyyy')}"></time>
                </div>
              </div><!-- End recent post item-->

            </div><!--/Recent Posts Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

<div th:replace="~{fragments/fragments.html :: foot}"></div>

</body>

</html>