<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="~{fragments/fragments.html :: head}">
</head>

<body class="index-page">

<header th:insert="~{fragments/fragments.html :: navmenu}"></header>

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Transforme o Desempenho de Seus Colaboradores Desde o Primeiro Dia</h1>
                    <p data-aos="fade-up" data-aos-delay="100">Nossa plataforma de treinamento corporativo
                        personalizável capacita empresas a desenvolver habilidades estratégicas e alcançar resultados
                        mensuráveis.</p>
                    <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
                        <a href="#contact" class="btn-get-started">Solicite uma Demonstração Gratuita<i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                    <img th:src="@{/img/hero-img.png}" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->


    <!-- Features Section -->
    <section id="alt-features" class="alt-features section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Funcionalidades</h2>
            <p>Por Que Escolher a Plataforma Musa?<br></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="container">

                <div class="row gy-5">

                    <div class="col-xl-7 d-flex order-2 order-xl-1" data-aos="fade-up" data-aos-delay="200">

                        <div class="row align-self-center gy-5">

                            <div class="col-md-6 icon-box">
                                <i class="bi bi-award"></i>
                                <div>
                                    <h4>Certificados Customizados</h4>
                                    <p>Reconheça o progresso dos colaboradores com certificados personalizados,
                                        adaptados para cada tipo de treinamento.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6 icon-box">
                                <i class="bi bi-card-checklist"></i>
                                <div>
                                    <h4>Avaliação Eficiente</h4>
                                    <p>Trazendo uma nova forma de avaliar o desempenho dos seus funcionários após a
                                        conclusão do treinamento.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6 icon-box">
                                <i class="bi bi-dribbble"></i>
                                <div>
                                    <h4>Gamificação para Engajamento</h4>
                                    <p>Aumente a participação e motivação dos colaboradores com elementos interativos de
                                        gamificação.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6 icon-box">
                                <i class="bi bi-filter-circle"></i>
                                <div>
                                    <h4>Personalização</h4>
                                    <p>Customize a plataforma conforme a identidade da sua marca e necessidades de
                                        treinamento.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6 icon-box">
                                <i class="bi bi-lightning-charge"></i>
                                <div>
                                    <h4>Relatórios de Desempenho em Tempo Real</h4>
                                    <p>Monitore o progresso, identifique lacunas de aprendizado e ajuste estratégias
                                        rapidamente.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6 icon-box">
                                <i class="bi bi-patch-check"></i>
                                <div>
                                    <h4>Cursos Atualizados e Integração Fácil</h4>
                                    <p>Ofereça uma ampla variedade de cursos relevantes, personalizados para as
                                        necessidades da sua empresa.</p>
                                </div>
                            </div><!-- End Feature Item -->

                        </div>

                    </div>

                    <div class="col-xl-5 d-flex align-items-center order-1 order-xl-2" data-aos="fade-up"
                         data-aos-delay="100">
                        <img th:src="@{/img/features.png}" class="img-fluid" alt="">
                    </div>

                </div>

            </div>

    </section><!-- /Features Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Está Interessado em Aumentar a Produtividade da sua Equipe?</h2>
            <p>Veja como nossa plataforma pode atender às necessidades da sua empresa.</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row justify-content-center gy-4">

                <div class="col-lg-6">
                    <form action="/proposal" method="post" class="php-email-form" data-aos="fade-up"
                          data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-12">
                                <input type="text" name="name" class="form-control" placeholder="Nome" required="">
                            </div>

                            <div class="col-md-12 ">
                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                            </div>

                            <div class="col-12 text-center">
                                <div class="loading">Carregando</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Sua mensagem foi enviada. Muito Obrigado!</div>

                                <button type="submit">Receber Proposta Personalizada</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->


    <!-- Team Section -->
    <section id="team" class="team section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Time</h2>
            <p>Nossa Equipe</p>
        </div><!-- End Section Title -->

        <div class="container">
            <div class="row justify-content-center gy-4">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img th:src="@{/img/team/team-1.png}" class="img-fluid" alt="">
                            <div class="social">
                                <a href="https://github.com/fabricioddsilva"><i class="bi bi-github"></i></a>
                                <a href="https://www.linkedin.com/in/fabr%C3%ADcio-dias-860252247/"><i
                                        class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Fabrício Dias</h4>
                            <span>Desenvolvedor Full Stack</span>
                            <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                                exercitationem iure minima enim corporis et voluptate.</p>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <img th:src="@{/img/team/team-2.png}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href="https://www.linkedin.com/in/madu-ribeiro-62858924b/"><i
                                        class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Maria Eduarda</h4>
                            <span>Product Owner</span>
                            <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit
                                corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <img th:src="@{/img/team/team-3.png}" class="img-fluid" alt="">
                            <div class="social">
                                <a href="https://github.com/Laulaav"><i class="bi bi-github"></i></a>
                                <a href="https://www.linkedin.com/in/laura-lima-araujo/"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Laura Beatriz</h4>
                            <span>Analista de Dados</span>
                            <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates
                                enim aut architecto porro aspernatur molestiae modi.</p>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>
        </div>

    </section><!-- /Team Section -->


    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Posts Recentes</h2>
            <p>Confira Nosso Blog!!</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row justify-content-center gy-5">

                <div class="col-xl-4 col-md-6" th:each="post:${posts}">
                    <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">

                        <div class="post-content d-flex flex-column">

                            <h3 class="post-title" th:text="${post.title}"></h3>

                            <div class="meta d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person"></i> <span class="ps-2" th:text="${post.author}"></span>
                                </div>
                            </div>

                            <hr>

                            <a th:href="@{/blog/post/{id}(id = ${post.id})}" class="readmore stretched-link"><span>Leia Mais</span><i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div><!-- End post item -->
            </div>
        </div>
    </section><!-- /Recent Posts Section -->
</main>

<div th:replace="~{fragments/fragments.html :: foot}"></div>

</body>

</html>